*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:link,
:visited {
  color: #e99e5b;
}

html {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding: 1rem;
  background-color: #2d1b19;
  color: #dcc29d;
}

@media (min-width: 768px) {
  body {
    padding: 2vmax 4vmax;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
  line-height: 1.3;
}

h1 {
  margin-block-start: 0;
}

img {
  display: block;
  width: 100%;
  margin-inline: auto;
  height: auto;
}

figcaption {
  padding-block-start: 0.5em;
  text-align: center;
  background-color: #2d1b19;
}

figure {
  margin-block: 3rem;
  position: relative;
  background: #c96649;
}

.title,
.images,
.graphs {
  margin-inline: auto;
  max-width: 65rem;
}

.loading figure {
  animation: image-load 5s ease infinite alternate;
}

@keyframes image-load {
  100% {
    background-color: #e89d5a;
  }
}

span {
  position: absolute;
  background-color: #2f1d1a;
  padding: 1em 2em;
  font-size: small;
  top: 0;
  right: 0;
  font-family: monospace;
}

.description {
  margin-block-end: 2rem;
}

.graphs {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.graph {
  height: 3rem;
  /* flex: 1; */
  background-color: #49412a;
  position: relative;
}

.loading .graph:after {
  opacity: 0;
  width: 100%;
  background-color: #7c7048;
  content: "";
  height: 100%;
  display: block;
  animation: grow-right 5s ease-in infinite;
  transform-origin: left;
}

.loading .graph:nth-child(2):after {
  animation-delay: 100ms;
}

.loading .graph:nth-child(3):after {
  animation-delay: 200ms;
}

.loading .graph:nth-child(4):after {
  animation-delay: 300ms;
}

.loading .graph:nth-child(5):after {
  animation-delay: 400ms;
}

.loading .graph:nth-child(5):after {
  animation-delay: 500ms;
}

.loading .graph:nth-child(6):after {
  animation-delay: 600ms;
}
.loading .graph:nth-child(7):after {
  animation-delay: 700ms;
}

@keyframes grow-right {
  0% {
    scale: 0 100%;
    opacity: 1;
  }

  100% {
    scale: 100% 100%;
  }
}

.name {
  position: absolute;
  top: 50%;
  left: 0.5em;
  translate: 0 -50%;
  font-size: small;
  z-index: 5;
  color: white;
  /* font-family: "JetBrains Mono", "Cascadia Code", "Fira Sans", monospace; */
  letter-spacing: 0.2px;
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  .name {
    font-size: 1rem;
  }
}

.name > div {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

hr {
  margin-block: 2rem;
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, #49412a, #e99e5b, #49412a);
}

.credit {
  text-align: center;
  font-size: small;
}
